:root{
     --main-color: #0b0b0b
}

button{
     cursor: pointer;
}

img{
     cursor: pointer;
}

span{
     cursor: pointer;
     text-decoration: none;
}

.icon{
     cursor: pointer;
}

.linkTag {
     color: inherit;
     text-decoration: none;
}